.textAtLeft {
  .cmp-teaser__pretitle {
    text-align: start;
  }
  .cmp-teaser__title {
    font-size: 48px;
    font-family: 'titleFont', 'titleFont Fallback';
    font-weight: 700;
    text-align: start;
  }
  .cmp-teaser__content {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    max-width: 600px;
  }
  .cmp-teaser__description {
    color: #ffffff;
    font-weight: 400;
    font-size: 22px;
    line-height: 21.96px;
    text-align: start;
  }
  .cmp-teaser__action-container {
    justify-content: left;
  }
}
